body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  border-radius: 5%;
  z-index: 5;
  padding: 1rem;
}
@media (min-width: 767px) {
  .cart {
    bottom: unset;
    top: 5rem;
  }
}

.material-icons {
  font-size: 35px;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.title {
  padding: 20px;
}

.btn {
  background-color: red;
}

.basket-list {
  z-index: 15;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: 1px 3px 8px 5px #792525;
  animation: show 500ms ease-in-out;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.basket-clear {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
}

.basket-quantity {
  cursor: pointer;
  vertical-align: middle;
  color: rgb(188, 185, 2);
  border: 1px dotted;
  font-size: 20px;
  margin: 5px;
}

#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
  -webkit-animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translateY(2rem);
    opacity: 0;
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }
}

.collection .collection-item.active {
  background-color: rgb(141, 180, 1);
}

.secondary-content {
  color: rgb(175, 164, 0);
}

.BasketName {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  color: rgb(176, 179, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}